.tarefa {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 20px;
  margin-bottom: 16px;
  cursor: grab;
  user-select: none;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  position: relative;
  border-left: 6px solid transparent;

  &.status-a\ fazer {
    border-left-color: #ffb6b9; // Rosa claro
  }

  &.status-fazendo {
    border-left-color: #fdd365; // Amarelo pastel
  }

  &.status-pronto {
    border-left-color: #c1f0dc; // Verde claro
  }

  &:active {
    cursor: grabbing;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
    z-index: 10;
  }

  .drag-handle {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #aaa;
  }

  header {
    margin-bottom: 16px;

    h3 {
      font-size: 1.2rem;
      font-weight: 600;
      color: #333;
      margin-left: 24px; // deixa espaço para a alça de arrasto
      word-break: break-word;
    }
  }

  dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 16px;

    dt {
      font-weight: 600;
      color: #555;
      flex: 0 0 80px;
    }

    dd {
      margin: 0;
      color: #333;
      flex: 1;
      word-break: break-word;
    }
  }

  .tarefa__acoes {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;

    button {
      flex: 1;
      padding: 8px 12px;
      border-radius: 6px;
      font-weight: 600;
      font-size: 0.95rem;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    button:first-of-type {
      background-color: #b385b7; 
      color: #fff;

      &:hover {
        background-color: #7053a6;
      }
    }

    button:last-of-type {
      background-color: #b385b7 ; // Rosa queimado
      color: #fff;

      &:hover {
        background-color: #d11a1a;
      }
    }
  }

  .tarefa__status {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    label {
      font-weight: 600;
      color: #555;
    }

    select {
      flex-grow: 1;
      padding: 6px 10px;
      border-radius: 6px;
      border: 1.5px solid #ccc;
      font-size: 1rem;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #7d6aa0;
        outline: none;
      }
    }

    button {
      padding: 8px 16px;
      background-color: #80c19b; 
      border-radius: 6px;
      color: #fff;
      font-weight: bold;
      width: 100%;
      cursor: pointer;
      margin-top: 5px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #589f75;
      }

      &:focus {
        outline: 2px solid #6ab187;
        outline-offset: 2px;
      }
    }
  }
}