
$back: #f8f5f5;
$primary: #1a2b3c;
$secondary: #7c8c9a; 
$accent: #00647A;
$text-dark: $primary; 
$text-light: #dbdada;
$font-primary: 'Verdana';
$button:orange;
$borda-arredondada: 6px;
$font-cabecalho:16px;

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $back;
    font-family:$font-primary ;
}