$back: #fef7f9;             
$primary: #7b4c5e;           
$secondary: #a47a7a;         
$accent: #9575cd;            
$text-dark: #3a2c2f;        
$text-light: #fafafa;        
$button: #baa1b6;            
$button-hover: #a188a6;      

// Outras variáveis

$font-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-cabecalho: 18px;
$borda-arredondada: 8px;
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $back;
    font-family:$font-primary ;
}